﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Dash_Board.aspx.cs" Inherits="dashboard" Title="Untitled Page" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

 <div class="innerdiv clear">
 <div class="innercontent">
 <div class="innercontent">
 <table class="full">
 <thead>
			                            <tr>
			                               <%-- <th colspan="2"><h5 style="text-align:center;">Employee Details</h5></th>--%>
			                            </tr>
			                        </thead>
 <tbody>
 <tr align="center">
			                            <td>
			                                <asp:Label ID="lblheading" runat="server" Text="" Font-Bold="true"></asp:Label>
			                            </td>
			                        </tr>
 <tr>
 <td colspan="2">
			                                
                                             <%--<asp:Chart ID="Chart1" runat="server" Compression="100" 
                                                    EnableViewState="True" Height="619px" Width="890px">
                                                    <series>
                                                        <asp:Series Name="Series1" ChartArea="ChartArea1" ChartType="Doughnut"  Label="#VALX: #PERCENT(P0)"
                                                            IsXValueIndexed="True">
                                                        </asp:Series>
                                                    </series>
                                                    <chartareas>
                                                        <asp:ChartArea Name="ChartArea1">
                                                        </asp:ChartArea>
                                                    </chartareas>
                                                </asp:Chart>--%>
			                                </td>
			                                
			                            </tr>
			                            </tbody>
			                            </table>
			                            </div>
			                            </div>
			                            </div>
            
            </asp:Content>


