﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="User_Master.aspx.cs" Inherits="User_Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

  <script type="text/javascript">
    //On UpdatePanel Refresh
    var prm = Sys.WebForms.PageRequestManager.getInstance();
    if (prm != null) {
        prm.add_endRequest(function(sender, e) {
            if (sender._postBackSettings.panelsToUpdate != null) {
                $('#tableCustomer').dataTable();               
            }
        }); 
    };
    </script>
      
             
     <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableCustomer').dataTable();
        });
    </script>

<asp:UpdatePanel ID="UpdatePanel2" runat="server">
                                         <ContentTemplate>

<div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                   <h4><li class="active">User Registration</li>
                   </ol>
               </div>
 
 
<div id="main-wrapper" class="container">
<div class="row">
    <div class="col-md-12">
              
            <div class="col-md-9">
			<div class="panel panel-white">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h4 class="panel-title">User Registration</h4>
				</div>
				</div>
				<form class="form-horizontal">
				<div class="panel-body">
					
					
					    <div class="form-group row">
					    
					       <label for="input-Default" class="col-sm-2 control-label">User Code</label>
						<div class="col-sm-4">
                            <asp:TextBox ID="txtusercode" class="form-control" runat="server" required></asp:TextBox>
                        </div>
					    
					   
						<label for="input-Default" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-4">
						 <asp:TextBox ID="txtusernm" class="form-control" runat="server" required></asp:TextBox>
                         
						</div>
				        </div> 
				       
				        <div class="form-group row">
					    
					       <label for="input-Default" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-4">
                            <asp:TextBox ID="txtpassword" class="form-control" runat="server" required 
                                TextMode="Password"></asp:TextBox>
                        </div>
					    
					   	
						<label for="input-Default" class="col-sm-2 control-label">Confirm Password</label>
						<div class="col-sm-4">
						 <asp:TextBox ID="txtconfirmpasswd" class="form-control" runat="server" required 
                                TextMode="Password"></asp:TextBox>
                         
						</div>
				        </div>
				        
				        <div class="form-group row">
					    
					     <label for="input-Default" class="col-sm-2 control-label">Department</label>
						<div class="col-sm-4">
                            <asp:TextBox ID="txtdeaprtment" class="form-control" runat="server" required></asp:TextBox>

                        </div>
					    
					  
						<label for="input-Default" class="col-sm-2 control-label">Desgination</label>
						<div class="col-sm-4">
						 <asp:TextBox ID="txtdesignation" class="form-control"  runat="server" required></asp:TextBox>
                         
						</div>
				        </div>
				        
				        <div class="form-group row">
					      <label for="input-Default" class="col-sm-2 control-label">Mobile</label>
						<div class="col-sm-4">
						 <asp:TextBox ID="txtmobile" class="form-control" runat="server" required></asp:TextBox>
                         
						</div>
					       
					     	
					     <label for="input-Default" class="col-sm-2 control-label">IsAdmin</label>
						<div class="col-sm-4">
                             <asp:RadioButtonList ID="rbtnisadmin" runat="server" RepeatColumns="2" >
                             <asp:ListItem Text="Yes" Value="1"></asp:ListItem>
	                         <asp:ListItem Text="No" Value="2"></asp:ListItem>                                            
	                         </asp:RadioButtonList> 
                        </div>
				
				        </div>
				        
				        
                         
                        
					
						<!-- Button start -->
						<div class="form-group row">
						</div>
                            <div class="txtcenter">
                                <asp:Button ID="btnSave" class="btn btn-success"  runat="server" Text="Save" 
                                    onclick="btnSave_Click"/>
                
                                <asp:LinkButton ID="btnClear" class="btn btn-danger" runat="server" onclick="btnClear_Click">Clear</asp:LinkButton>      
                          </div>
                    <!-- Button End -->	
						
						<div class="form-group row">
						</div>
							<!-- Table start -->
						
						         <%-- <div class="panel-body">--%>
                     <div class="table-responsive">
    
                 <asp:Repeater ID="rptrCustomer" runat="server" onitemcommand="Repeater1_ItemCommand">
                 <HeaderTemplate>
                
                  <table id="tableCustomer" class="display table" style="width: 100%;">
                    <thead>
                        <tr>
                                                   <%-- <th>SNo</th>--%>
                                                    <th>User ID</th>
                                                    <th>Name</th>
                                                    <th>Password</th>  
                                                    <th>User Type</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                        </tr>
                    </thead>
            </HeaderTemplate>
            <ItemTemplate>
                <tr>
                    
                   <%-- <td>
                        <%# DataBinder.Eval(Container.DataItem, "SNo")%>
                    </td>--%>
                    
                    <td>
                        <%# DataBinder.Eval(Container.DataItem, "UserCode")%>
                    </td>
                    <td>
                        <%# DataBinder.Eval(Container.DataItem, "UserName")%>
                    </td>
                    <td>
                        <%# DataBinder.Eval(Container.DataItem, "Mobile")%>
                    </td>
                    <td>
                        <%# DataBinder.Eval(Container.DataItem, "IsAdmin")%>
                    </td>
                    
                     <td>
                        <asp:LinkButton ID="lnkedit" runat="server" class="btn btn-primary btn-xs"  CommandArgument='<%#Eval("UserName") %>' CommandName="Edit"><span class="glyphicon glyphicon-pencil"></span></asp:LinkButton></p></td>
                     </td>
                     <td>
                        <asp:LinkButton ID="lnkDelete" runat="server" class="btn btn-danger btn-xs"  CommandArgument='<%#Eval("UserName") %>' CommandName="Delete"><span class="glyphicon glyphicon-trash"></span></asp:LinkButton>
                    </td>
                    
                </tr>
            </ItemTemplate>
            <FooterTemplate>
              
                </table>
            </FooterTemplate>
        </asp:Repeater>
                            </div>
                        <%--</div>--%>
       
       
					         <!-- Table End -->
						<div class="form-group row">
						</div>
                           
                        
				</form>
			
			</div><!-- panel white end -->
		    </div>
		    
		    <div class="col-md-2"></div>
		    
            
      
 </div> <!-- col-9 end -->
 <!-- Dashboard start -->
    <div class="col-lg-3 col-md-3">
                            <div class="panel panel-white" style="height: 100%;">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Dashboard Details</h4>
                                    <div class="panel-control">
                                        
                                        
                                    </div>
                                </div>
                                <div class="panel-body">
                                    
                                    
                                </div>
                            </div>
                        </div>  
    <div class="col-lg-3 col-md-3">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                 
                                             <div class="form-group row">
                                             
                                             <asp:Button ID="btncontract" class="btn btn-success btn-rounded"  runat="server" 
                                                     Text="Contract Report" Width="100%" onclick="btncontract_Click" />
                                              </div>
                                              <div class="form-group row">
                                             <asp:Button ID="btnEmp" class="btn btn-success btn-rounded"  runat="server" 
                                                      Text="Employee Download" Width="100%" onclick="btnEmp_Click" />
                                             </div>
                                             <div class="form-group row">
                                             <asp:Button ID="btnatt" class="btn btn-success btn-rounded"  runat="server" 
                                                     Text="Attendance Download" Width="100%" onclick="btnatt_Click" />
                                             </div>
                                              <div class="form-group row">
                                             <asp:Button ID="btnLeave" class="btn btn-success btn-rounded"  runat="server" 
                                                      Text="Leave Download" Width="100%" OnClick="btnLeave_Click" />
                                             </div>
                                              <div class="form-group row">
                                             <asp:Button ID="btnOT" class="btn btn-success btn-rounded"  runat="server" 
                                                      Text="OT Download" Width="100%" onclick="btnOT_Click" />
                                             </div>
                                              <div class="form-group row">
                                             <asp:Button ID="btnSal" class="btn btn-success btn-rounded"  runat="server" 
                                                      Text="Salary Download" Width="100%" onclick="btnSal_Click" />
                                             </div>
                                     
                                </div>
                            </div>
                            
                        </div>
  
                        <!-- Dashboard End -->   
 </div><!-- col 12 end -->
      
  </div><!-- row end -->

 </ContentTemplate>
 </asp:UpdatePanel>
</asp:Content>

